@font-face {
    font-family: 'Urbanist Font';
    src: url('/Urbanist-VariableFont_wght.ttf') format('truetype');
  }
  
a{
	text-decoration: none;
}
body{
	text-decoration-line: none ;
	font-family: 'Urbanist Font', sans-serif;
}
html{
	scroll-behavior: smooth;
}
button.spbs{
	border-radius: 0%;
	outline: none;

}

.confetti-canvas {
  position: fixed; /* Use fixed to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow interaction with the popup below */
  z-index: 1; /* Make sure it's behind the popup but on top of the rest of the page */
}

.desktop-image-overlay-text {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.Link:hover {
	text-decoration-line: none!important;
  }
  .custom-link, .custom-link:hover, .custom-link:focus, .custom-link:active {
	text-decoration: none !important;
  }

div.info-bar{
	min-width: 100vw;
	display: flex;
	padding-bottom: 0.5625rem;
	justify-content:center;
	/* background: rgb(105, 63, 45); */
	background: rgb(77,10,30);
	
	
}

div.info-item{
	margin: auto;
	height: 3vh;
	padding: 0.3rem;
	/* background: rgb(105, 63, 45); */
	background: rgb(77,10,30);
	color: white;
}

div.desktop-primary-bar{
	min-width: 100vw;
	display: flex;
	justify-content: center;
}
div.search-bar {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0%;
	flex-basis: 0%;
	flex-grow: 1;
	place-items: center normal;
	max-width: 60vw;
	
}


img.logo {
	aspect-ratio: auto 2530 / 1063;
	box-sizing: border-box;
	cursor: pointer;
	display: inline;

	max-height: 140px;

	max-width: 165px;
	overflow: clip;
	padding: 10px 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	vertical-align: middle;
}
div.whatsapp-info-holder{
display: flex;
justify-content: center;
min-width: 20vw;
}
div.whatsapp-info{
	display: flex;
	margin: auto;
}
a.whatsapp {
    color: #25d366;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 900;
}
div.free-shipping-banner{
	margin: auto;
}

section.desktop-navbar{
	min-width: 100vw;
	display: flex;
	justify-content: center;

}

.shopping-bag {
	position: relative;
	
  }
 .shopping-bag:hover{
	cursor: pointer;
 } 
  
  .shopping-bag .item-count {
	position: absolute;
	top: -10px;
	right: -10px;
	/* background-color: rgb(105, 63, 45); */
	background-color: rgb(77,10,30);
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 50%;
  }

  .custom-hover:hover {
    /* background-color: rgb(105, 63, 45); */
	background-color:rgb(77,10,30);
}

  
.banner-slide {
	width: 100vw;
	height: 80vh;
	object-fit: cover;
  }
.bg{
background: #000;
}
h3.image-categories-titles{
	text-transform: uppercase;
}
.category-pic {
	width: 100%;
	height: auto;
}
  
.image-categories-titles {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
  
.image-categories div:hover .image-categories-titles {
	display: none;
}
  
.image-categories div:hover .category-pic {
	filter: brightness(70%);
}
  
.image-categories div:hover div {
	transition: height 0.5s ease-out;
}

.drawer-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #e2e8f0;
  }
  
  .drawer-content {
	padding: 1rem;
  }

  .overflow-container {
	overflow-x: hidden;
  }

  .skeleton-card {
	width: 17vw; /* Default width for larger screens */
	height: 43vh; /* Default height for larger screens */
  }
  
  @media screen and (min-width: 601px){
  section.mobileslides{
	display: none;
  }
  .image-category-container {
    width: 25%; /* Four items per row on screens wider than 1024px */
  }
  div.mobile-primary-bar{
	display: none;
  }
  div.recently-added-mobile{
  	display: none;
  }
  div.mobile-attr{
  	display: none;
  }
  div.mobile-blog{
  	display: none;
  }

  div.mobile-text-below-image{
  	display: none;
  }
  div.mobile-reels{
  	display: none;
  }
  div.mobile-plus-minus-sidemenu{
  	display: none;
  }
  span.mobile-price-span{
  	display: none;
  }
  span.mobile-size-span{
  	display:none;
  }
  div.mobile-skeleton{
  	display: none;
  }
  div.desktop-image-bold-text:hover{
   display: none;
  }
  div.mobile-product-description-accordion{
  	display: none;
  }
  div.mobile-scroll-products{
  	display : none;
  }
  h5.mobile-name-h5{
	display: none;
  }
  div.mobile-info-item{
	display: none;
  }
  }

span.edit-cartamount:hover{

	cursor: pointer;
	color: rgb(77,10,30) ;
}
.product-card {
	transition: transform 0.2s;
	
  }
  .buttons {
	display: flex;
  }

   
@media screen and (max-width: 601px){
	div.free-shipping-banner{
		display: none ;
		
	}
	section.desktopslides{
      display: none;
	}
	div.desktop-noscroll-products{
		display: none;
	}

	div.recently-added-desktop{
		display: none;
	}
	section.image-categories{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}

	.image-category-container {
		width: 50%; /* Two items per row on screens wider than 640px */
	  }
	
	div.desktop-primary-bar{
		display: none;
	} 

	div.desktop-plus-minus-sidemenu{
		display: none;
	}  
div.desktop-reels{
	display:none;
}
h5.desktop-name-h5{
	display: none;
}
	section.desktop-navbar{
		display: none;
	}

	div.desktop-attr{
		display: none;
	}
	div.desktop-info-item{
		display: none;
	}

	span.desktop-price-span{
		display: none;
	}
	div.desktop-skeleton{
		display:none;
	}
	div.desktop-image-bold-text{
		display:none;
	}
span.desktop-size-span{
	display:none;
}
	div.desktop-image-overlay-text{
		display: none;
	}
	p.desktop-product-description{
		display: none;
	}
div.desktop-blog{
	display:none;
}
div.mobile-blog{
	max-width: 100vw;
}
	div.services{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.service-woman{
		align-self: center;
		margin: auto;
		margin-right: none;
	}
	.overflow-container {
		width: 100vw;
		overflow-x: scroll;
		display: flex;
		justify-content: flex-start;
		margin-left: 2vw;
	  }
	  


	  .product-list {
		display: flex;
		flex-direction: row;
		width: max-content;
		overflow-x: hidden;
	  }
	
	  .product-card, .skeleton-card {
		width: 45vw; /* Adjust the width as needed */
		height: 42vh;  /* Adjust the height as needed */
		margin-right: 4px;
		flex-shrink: 0; /* Prevent the card from shrinking */
	  }

	  .search-results-product-card{
		width: 66vw; /* Adjust the width as needed */
		height: 47vh; /* Adjust the height as needed */
		flex-shrink: 0; /* Prevent the card from shrinking */
	  }
	
	 .overflow-container > div > div > div { /* This is the container holding all brand rows */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
  }

	  .buttons {
		display: none;
	  }
	

	div.free-shipping-banner{
		display: none;
	}
	img.logo{
		max-height: 100px;
		max-width: 125px ;
	}
   section.carousel{
	margin-top: auto;
	
   }

   div.crxl{
    background-color: #25d366;
	margin-top: 0;
   }
   .subinput{
	max-width: 70vw;
   }
   .subbtn{
	max-width: 70vw;
   }

}

.vp-bo{
	/* background-color:  rgb(105, 63, 45); */
	background-color: rgb(77,10,30);
}