
a{
	text-decoration: none;
}
body{
	text-decoration-line: none ;
}

.Link:hover {
	text-decoration-line: none!important;
  }
  .custom-link, .custom-link:hover, .custom-link:focus, .custom-link:active {
	text-decoration: none !important;
  }

div.info-bar{
	min-width: 100vw;
	display: flex;
	justify-content:center;
	background: rgb(105, 63, 45);
	
	
}

div.info-item{
	margin: auto;
	height: 3vh;
	padding: 0.3rem;
	background: rgb(105, 63, 45);
	color: white;
}

div.primary-bar{
	min-width: 100vw;
	display: flex;
	justify-content: center;
}
div.search-bar {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0%;
	flex-basis: 0%;
	flex-grow: 1;
	place-items: center normal;
	max-width: 60vw;
	
}


img.logo {
	aspect-ratio: auto 2530 / 1063;
	box-sizing: border-box;
	cursor: pointer;
	display: inline;

	max-height: 140px;

	max-width: 165px;
	overflow: clip;
	padding: 10px 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	vertical-align: middle;
}
div.whatsapp-info-holder{
display: flex;
justify-content: center;
min-width: 20vw;
}
div.whatsapp-info{
	display: flex;
	margin: auto;
}
a.whatsapp {
    color: #25d366;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 900;
}
div.free-shipping-banner{
	margin: auto;
}

section.navbar{
	min-width: 100vw;
	display: flex;
	justify-content: center;

}

.shopping-bag {
	position: relative;
	
  }
 .shopping-bag:hover{
	cursor: pointer;
 } 
  
  .shopping-bag .item-count {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: rgb(105, 63, 45);
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 50%;
  }

  .custom-hover:hover {
    background-color: rgb(105, 63, 45);
}

  
.banner-slide {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
.bg{
background: #000;
}
h3.image-categories-titles{
	text-transform: uppercase;
}
.category-pic {
	width: 100%;
	height: auto;
}
  
.image-categories-titles {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
  
.image-categories div:hover .image-categories-titles {
	display: none;
}
  
.image-categories div:hover .category-pic {
	filter: brightness(70%);
}
  
.image-categories div:hover div {
	transition: height 0.5s ease-out;
}

.drawer-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid #e2e8f0;
  }
  
  .drawer-content {
	padding: 1rem;
  }
  @media screen and (min-width: 601px){
  section.mobileslides{
	display: none;
  }
  }
span.edit-cartamount:hover{
	transform: scale(1.2);
	transition: transform 0.3s ease;
	cursor: pointer;
	color: rgb(150,50,7) ;
}
.product-card {
	transition: transform 0.2s;
  }
  .buttons {
	display: flex;
  }

@media screen and (max-width: 601px){
	div.free-shipping-banner{
		display: none ;
		
	}
	section.desktopslides{
      display: none;
	}
	section.image-categories{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	
	div.services{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div.service-woman{
		align-self: center;
		margin: auto;
		margin-right: none;
	}
	.product-card {
		transform: scale(0.8);
		margin-right: 1rem;
	  }
	  
	  .buttons {
		display: none;
	  }
	  .wrxx{
		display: none;
	  }
	div.info-bar{
		padding-bottom: 15px;
		
	}
	div.free-shipping-banner{
		display: none;
	}
	img.logo{
		max-height: 100px;
		max-width: 125px ;
	}
   section.carousel{
	margin-top: auto;
	
   }

   div.crxl{
    background-color: #25d366;
	margin-top: 0;
   }

}

.vp-bo{
	background-color:  rgb(105, 63, 45);
}
