
div.info-bar{
	min-width: 100vw;
	display: flex;
	justify-content:center;
	background: #000;
	
	
}

div.info-item{
	margin: auto;
	height: 3vh;
	padding: 0.3rem;
	background: #000;
	color: white;
}
/* CSS Inspector (https://www.baki.co.ke) */ 
div.primary-bar{
	min-width: 100vw;
	display: flex;
	justify-content: center;
}
div.search-bar {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0%;
	flex-basis: 0%;
	flex-grow: 1;
	max-height: 80px;
	place-items: center normal;
}



img.logo {
	aspect-ratio: auto 2530 / 1063;
	box-sizing: border-box;
	cursor: pointer;
	display: inline;
	max-height: 80px;
	max-width: 165px;
	overflow: clip;
	padding: 10px 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	vertical-align: middle;
}

/*
div.whb-main-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 390;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

header.whb-header {
    margin-bottom: 40px;
}



div.whb-row.whb-top-bar.whb-not-sticky-row.whb-with-bg.whb-without-border.whb-color-dark.whb-flex-equal-sides {
	background-color: #000000;
	color: rgb(91, 168, 39);
	box-sizing: border-box;
	transition-duration: 0.2s;
	transition-property: background-color;
}
div.web-flex{
	display: flex;
	justify-content: space-between;
}


div.whb-column.whb-col-left.whb-visible-lg.whb-empty-column {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0%;
	flex-basis: 0%;
	flex-grow: 1;
	justify-content: flex-start;
	margin: 0px 0px 0px -10px;
	max-height: 40px;
	place-content: normal flex-start;
	place-items: center normal;
}

div.whb-column.whb-col-center.whb-visible-lg {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	max-height: 40px;
	place-items: center normal;
}

div.wd-header-text.set-cont-mb-s.reset-last-child.animation-effect-outer {
	box-sizing: border-box;
	flex: 1 1 auto;
	flex-grow: 1;
	overflow: hidden;
	padding: 0px 10px;
}


div.whb-column.whb-col-right.whb-visible-lg {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 0%;
	flex-basis: 0%;
	flex-grow: 1;
	justify-content: flex-end;
	margin: 0px -10px 0px 0px;
	max-height: 40px;
	place-content: normal flex-end;
	place-items: center normal;
}


img.banner-slide {
	aspect-ratio: auto 1972 / 320;
	background-position: 0px 0px;
	box-sizing: border-box;
	display: inline;
	overflow: clip;
	position: relative;
	transition-property: none;
	user-select: none;
	vertical-align: top;
} */



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
