@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Urbanist';
  src: url('/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('/futura- light- bt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Bold';
  src: url('/Futura-Book -font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura-Medium-Bold';
  src: url('/futura-medium-bt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Futura','Urbanist';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(77,10,30);
  text-decoration: inherit;
}
a:hover {
  color: rgb(77,10,30);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgb(77,10,30);
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Add these styles to your global CSS file */
.swiper-pagination-bullet-active {
  background: rgb(105, 63, 45) !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: rgb(105, 63, 45) !important;
}